/*this is the magic stuff*/

#sidebar {
  position: absolute;
  left: -270px;
  /*we hide it to the left while being absolute*/
  cursor: pointer;
  /*this code makes a smooth transition */
}


/*this is normal code for styles I needed */


aside {
  font: 15px Arial;
  color: #ccc;
  width: 300px;
  background: #000;
  height: 100%;

}

button {
  height: 100%;
  vertical-align: top;  
  margin-bottom: 10px;
}

.left {
  float: right;
}

.right {
  float: right;
}
iframe {
  border-top: #c00 10px;
  border-right: #c00 10px ;
  border-left: #c00 100px ;
  border-bottom: #c00 10px ;

  margin-top: 100px;
  margin-bottom: 50px;
  margin-left: 100px;
  width: 100%;
  height:100px;

}
#header {
    position:fixed;
    margin-top: 0px;
    color:blue;
    background: #ccc; 
    width: 100%;
}

#toolbar {
    position: fixed;
    width: 100%;
    height: 25px;
    top: 0;
    left: 0;
    margin-top: 0px;

    padding: 50px 200px; /* some styling, please note overall height of the object will be 35px due to 5px padding on top/bottom. */
    background: #ccc; /* some styling */
    border-bottom: 0px solid #333; /* some styling */
}

#pageframe {
    width: 100%;
    height: 1000px;
    top: 0;
    left: 0;
    border-bottom: 0px solid #333; /* some styling */
    margin-top: 100px;
}